@model IEnumerable<LibraryManagement.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.edition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.catname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.bname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.edition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.catname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
